# Dependencies
node_modules/

# Local env files
.env
.env*.local

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Debug logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
